<!DOCTYPE html>
<html>
<head>
	<title>Edit <%=pokemon.name%></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h2>Edit <%=pokemon.name%></h2>

	<form action='/pokemon/<%=index%>?_method=PUT' method='POST'>
		Name: <input type="text" name="name" value="<%=pokemon.name%>">
		Color: <input type="text" name="img" value="<%=pokemon.img%>">
		<br>
		<input type="submit" name="Submit Change">
	</form>


</body>
</html>